@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$yellow: #FDBE41;
$green: #35CB4B;
$red: #FC635D;

// $green: hsl(141, 75%, 55%);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

//section
$section-padding: 1rem 0.5rem !default

// Update some of Bulma's component variables
$footer-padding: 0.5rem 1rem;

$dimensions: 16 24 32 48 64 96 128 192 256!default

//navbar > img
$navbar-item-img-max-height: 2rem;
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/src/sass/index.sass";
@import "../node_modules/chart.js/dist/Chart.css";
@import "../node_modules/@fullcalendar/core/main.css";
@import "../node_modules/@fullcalendar/daygrid/main.css";
@import "../node_modules/@fullcalendar/timegrid/main.css";
@import "../node_modules/@fullcalendar/list/main.css";
